<div class="page-content">
    <div class="acme-card-wide mdl-card" style="text-align: center">
        <div class="">
            <div layout="row" layout-align="center center" style="padding: 24px;">
                <strong>{{vm.group.name}}</strong>
            </div>
            <!-- Accent-colored raised button -->
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
                    ng-click="vm.generateAssignments()" ng-if="!vm.generated">
                გენერირება
            </button>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Display Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.users">
                    <td class="mdl-data-table__cell--non-numeric" style="padding-bottom: 15px">
                        <img ng-src="{{user.photoURL}}" alt="" style="height: 35px;">
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{user.displayName}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{user.email}}</td>
                    <td>
                        <button class="mdl-button mdl-js-button mdl-button--icon" ng-click="vm.removeUser(user)"
                                ng-hide="user.$id == vm.user.uid">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
