#login-form {
  .demo-card-wide.mdl-card {
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }

  .alert{
    background-color: #e14b36;
    padding: 16px;
  }

  .login-button{
    >img{
      height: 24px;
    }
  }
}