<div id="login-form">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">

    </header>


    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="acme-card-wide mdl-card" style="text-align: center">
                <div class="mdl-card__title"></div>
                <div class="">
                    <h3 class="">გილოცავთ დამდეგ შობა-ახალწელს!</h3>
                    <h4>მოდი ვითამაშოთ Secret Santa.</h4>
                    <p>ამისათვის საჭიროა დარეგისტრირდე, შექმნა ჯგუფი და გაუზიარო ლინკი მეგობრებს ან გადახვიდე უკვე შენთვის გაზიარებულ ლინკზე.</p>
                </div>
                <div class="alert" ng-show="vm.errorMessage">
                    {{vm.errorMessage}}
                </div>
                <div class="">
                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect login-button" ng-click="vm.loginWithGoogle()">
                        <img src="/assets/images/GooglePlus.png" >
                        Google+ - ით შესვლა
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect login-button" ng-click="vm.loginWithFacebook()">
                        <img src="/assets/images/fbicon.png">
                        Facebook - ით შესვლა
                    </button>
                </div>
            </div>

        </div>
    </main>

    <!--<footer class="mdl-mini-footer">-->
        <!--<div class="mdl-mini-footer__right-section">-->
            <!--<div class="mdl-logo">-->
                <!--Secret Santa Group 2016&copy All Right Reserved.-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->
</div>
</div>