<div class="page-content">
    <div class="acme-card-wide mdl-card" style="text-align: center">
        <div class="mdl-card__title"></div>
        <div class="caption-text">
            <h4 class="">შექმენი ჯგუფი და გაუზიარე სხვებს ან დაკლიკე შენთვის გაზიარებულ ლინკზე</h4>
        </div>
    </div>
    <div class="acme-card-wide mdl-card" style="text-align: center">
        <div class="">
            <!-- Simple Textfield -->
            <form action="#" id="createGroup" name="createGroupForm">
                <md-input-container>
                    <label>Enter Group Name</label>
                    <input type="text" ng-model="vm.groupName" required>
                </md-input-container>
                <md-button style="margin-bottom:31px;"
                           class="md-raised md-primary"
                           ng-click="vm.createGroup()"
                           type='submit'
                           ng-disabled="createGroupForm.$invalid">
                    Create Group
                </md-button>
            </form>
        </div>
        <div ng-if="vm.recentName">
            <span>
                {{vm.recentName}}
            </span>
            <div class="copy-selection" layout="row" layout-align="center center">
                <div layout="row" class="content">
                    <input type="text" ng-model="vm.recentUrl" id="idCopyTextMain" readonly>
                    <md-button ng-click="vm.copy($event)" class="md-icon-button">
                        <i class="material-icons">content_copy</i></md-button>
                </div>
            </div>
        </div>
    </div>
    <div class="acme-card-wide mdl-card" style="text-align: center">
        <div class="mdl-data-table">
            <h5 class="caption">ჩემი ჯგუფები</h5>
            <table class="">
                <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="group in vm.groups">
                    <td class="mdl-data-table__cell--non-numeric">{{group.name}}</td>
                    <td>
                        <md-button class="md-icon-button"
                                   ng-click="vm.copyGroupLink(group)">
                            <i class="material-icons">link</i>
                        </md-button>
                        <md-button class="md-icon-button"
                                   ng-click="vm.openGroup(group)">
                            <i class="material-icons">remove_red_eye</i>
                        </md-button>
                        <md-button class="md-icon-button"
                                   ng-click="vm.removeGroup(group)">
                            <i class="material-icons">delete</i>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
